<p>Welcome</p>
<p><%= @user.name %>,</p>

<p>Thanks for signing up with So Done!</p>

<p>I hope you can find what you are looking for, and please don't hesitate to contact us with your feedback.</p>

<p>So Done Team,</p>
<p><%= @url_en %></p>