<%= @user.name %>さん

<p>So Doneにご登録いただきありがとうございます。</p>

<p><%= @user.name %>さんが、ご要望のサービスが見つけられるようサポートさせていただきます。</p>
<p>So Doneのフィードバック等あれば是非お寄せください。</p>


<p>So Doneのプラットフォームは常に改善を続けて参りますので、
引き続き何卒宜しくお願いします。</p>

So Doneチーム

<p><%= @url_ja %></p>
