To <%= @user.name %>,

<p>New Comment on your post.</p>

<p>Your post: </p>
<p><%= @childcomment.comment.comment %></p>

<p>New Comment: </p>
<p><%= @childcomment.childcomment %></p>


So Done -そうだん-
<p><%= @url %></p>