To <%= @user.name %>,

<p>Thank you for regstering So Done. The below is your user information.</p>

<ul>
  <li>User Name: <%= @user.name %></li>
  <li>Email: <%= @user.email %></li>
</ul>



So Done -そうだん-