<p><%= @user.name %>,</p>

<p>Спасибо, что зарегистрировались на So Done! </p>

<p>Надеюсь, вы сможете найти то, что ищете, и не стесняйтесь обращаться к нам с вашими отзывами. </p>

<p>Команда "So Done"</p>
<p><%= @url_ru %></p>