/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 *= require flag-icon
 */

/*
*= require lightbox
*/

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}


/* navbar */
.navbar .navbar-brand {
  color: black;
}


#navbarSupportedContent ul li {
  padding: 0 5px 0 5px;
	display: flex;
	align-items: center;
}
#navbarSupportedContent ul li a{
  color: #556466 ;
}

#navbarSupportedContent ul li a:hover {
    font-weight: 700;
    text-decoration: none;
}

.navbar-toggler-icon {
  color: #fff;
}


/* Before Login */
/* cover */
.cover {
  padding: 35px 20px;
  background: url("/images/cover-chidori.png") center center no-repeat;  
/*  background-color: #c1e4e9 ; */
}

.cover .cover-inner .cover-contents {
  text-align: center;
  position: relative;    
}

#link {
  padding: 20px;
}

/* beta*/
#beta_intro {
  padding: 40px 20px;
  background: url("/images/back-chidori.png") center center no-repeat;    
/*  background-color: #2a3233 ; */
  color: #fff; 
  text-align: center;
}

#beta_intro p {
  font-size: 18px;
}

/*about */
#about {
  padding: 40px 20px;
  margin-bottom: 16px;
  text-align: center;
}

#about h3 {
  padding: 20px 20px;
}

#carouselExampleIndicators {
  padding: 30px;
}

.card-header {
  background-color: #c1e4e9;
}

.carousel-control-prev-icon {
  color: black;
  background-color: grey;
}

.carousel-control-next-icon  {
  color: black;
  background-color: grey;
}

/* how */
#how {
  padding: 40px 20px;
  margin-bottom: 16px;
  text-align: center;
}

#how h3 {
  padding: 20px 20px;
}

#mobile-page div {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px ;
  }

#mobile-page img {
  max-height: 600px;
  width: auto;
  }

#how .container {
  padding: 0;
  margin: 0 auto;
}

#how .container .figure{
  padding: 0;
  margin: 0 auto;
}

#arrow {
  margin: 0;
  padding-top: 100%;
  max-width: 30px;
  height: auto;
}


/* why */
#why {
  padding: 40px 20px;
  background: url("/images/back-chidori.png") ;    
/*  background-color: #2a3233 ; */
  color: #fff; 
  text-align: center;
}

#why p {
  font-size: 18px;
  line-height: 170%;
}

/* Signup */

#newuser {
  width: 100%;
  padding: 15px;
  margin: auto;
  align-items: center;
}

#newuser p {
  padding-top: 20px;
}

#signup {
  padding: 20px 40px;
}

/* Login */

#login {
  width: 100%;
  max-width: 660px;
  padding: 15px;
  margin: auto;
  align-items: center;
}

#login p {
  padding-top: 20px;
}

/* After Login */


.eachcard {
  margin: 0;
  padding:0px 5px 5px 5px;
}

.eachcard .card {
  max-width: 600px;
  height: auto ;
}

#2headerinarow {
  padding-left: 30px;
}

/*
.eachcard img {
  max-height: 350px ;
  width: auto ;
}
*/

.eachcard .card-text {
  min-height: 50px ;
  width: auto ;
}

.category .card-header {
  text-align: center;
  padding: 1px;
  background-color: #c1e4e9 ;
  border: solid 1px #7f9699 ;
}

.fas fa-heart {
  color: pink;
}

/* Card */
.reaction-buttons form {
  display: inline-block;  
  vertical-align: top;
  line-height: 0;
  margin-right: 0px;  
}

/* Post */
#eachpost {
  margin: 10px 0 30px 0;  
}

/* Footer */
.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 30px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer > .container span {
  padding-right: 10px;
  padding-left: 10px;
}
